<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PageSize" value="20" />
	</appSettings>
	<connectionStrings>
		<add name="UsersDB" connectionString="Data Source=A1COMP10;Initial Catalog=Users;User ID=sa;Password=123456" />
	</connectionStrings>
</configuration>