<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TEST.Properties.Settings.Exchange_Rates_NBUConnectionString"
            connectionString="Data Source=АЛЕКСАНДР-ПК\SQLEXPRESS;Initial Catalog=&quot;Exchange Rates NBU&quot;;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TEST.Properties.Settings.Exchange_Rates_NBUConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=&quot;Exchange Rates NBU&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>