<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <dataConfiguration defaultDatabase="ConnectionString" />
    <connectionStrings>
        <add name="ElectronicDairy" connectionString="Data Source=WINDA1;Initial Catalog=ElectronicDairy;Persist Security Info=True;User ID=bobrovskiy;Password=valnet13;Encrypt=True;TrustServerCertificate=True;User Instance=False;Context Connection=False;  Asynchronous Processing=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>