<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionTest.Properties.Settings.MessengerConnectionString"
            connectionString="Data Source=ALEXBOOK\SQLEXPRESS;Initial Catalog=Messenger;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>