<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Model.Properties.Settings.AdventureWorksLTConnectionString"
            connectionString="Data Source=Winda1;Initial Catalog=AdventureWorksLT;User ID=bobrovskiy;Password=valnet13"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>