<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>     
    
    <services>
      <service name="AppWithStandAloneServerAndClient.WCF_Server.Service.MoneyConverter" 
               behaviorConfiguration="MoneyConverterServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MoneyConverter"/>
          </baseAddresses>
        </host>
        
        <!-- use base address provided by host, provide one endpoint -->
        <endpoint address="Username" 
                  binding="wsHttpBinding" 
                  bindingConfiguration="Binding1" 
                  contract="AppWithStandAloneServerAndClient.WCF_Server.Service.IMoneyConverter"/>
      </service>
    </services>
    
    <bindings>
      <wsHttpBinding>
        <!-- Username binding -->
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>    
        
    <behaviors>
      <serviceBehaviors>
        <behavior name="MoneyConverterServiceBehavior">
          <!--includeExceptionDetailInFaults="True"-->
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to specify a
            custom validator for username/password combinations.				  
            -->
            <userNameAuthentication 
              userNamePasswordValidationMode="Custom" 
              customUserNamePasswordValidatorType="AppWithStandAloneServerAndClient.WCF_Server.Service.CustomUserNameValidator, AppWithStandAloneServerAndClient"/>

            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during the setup instructions.
            -->
            <serviceCertificate findValue="localhost" 
                                storeLocation="LocalMachine" 
                                storeName="My" 
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
  </system.serviceModel> 

<startup>
  
<supportedRuntime version="v2.0.50727"/></startup>
</configuration>
