@charset "windows-1251";
/* CSS Document */
/* --------------------- */

td.menu_img{
	background-image: url(top_menu_m_bg.jpg);
	background-repeat: repeat-x;	
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
}
img.top1{
	margin-top:-3em;
}

td.butt_img{
	background-image: url(footer_m_bg.jpg);
	
	background-repeat: repeat-x;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;	
	
}
td.back_img{
	background-image: url(logo.jpg);
	background-repeat: repeat-x;	
		margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	
	padding-left:0em;
	padding-right:0em;
	padding-top:-1em;
	padding-bottom:0em;	
	
}

td.top_img{
	background-image: url(header_top_middle.jpg);
	background-repeat: repeat-x;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;	
	padding-left:0em;
	padding-right:0em;
	padding-top:-1em;
	padding-bottom:0em;	
}

img.tem{
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
}

/* --------------------- */
div.spacetab{
	margin-left:1em;
}
p{
	margin-top:0.4em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
}
p.cell{
	font-family: Times, "Times New Roman", Times, serif;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
	width:100%;
	font-size:24px;
	font-weight:bold;
	color:#453F3D;
}
p.zagolovok{
	font-family: Times, "Times New Roman", Times, serif;
	vertical-align:middle;
	text-align:center;
	margin-top:70px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
	width:100%;
	font-size:24px;
	font-weight:bold;
	color:#453F3D;
}
p.text{
	font-family: Times, "Times New Roman", Times, serif;
	margin-top:0em;
	margin-bottom:1em;
	margin-right:4em;
	margin-left:2em;
	text-align: justify;
	font-size:14px;
	color:#453F3D;
}
p.listtext{
	font-family: Times, "Times New Roman", Times, serif;
	margin-top:0em;
	margin-bottom:-1em;
	margin-right:4em;
	margin-left:2em;
	text-align: justify;
	font-size:14px;
	color:#453F3D;
}

p.headtext{
	font-family: Times, "Times New Roman", Times, serif;
	margin-top:10px;
	margin-bottom:0em;
	margin-right:0em;
	margin-left:2em;
	text-align:right;
	font-size:16px;
	font-weight:bold;
	color:#453F3D;
}
p.headertext{
	font-family: Times, "Times New Roman", Times, serif;
	margin-top:5px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#453F3D;
}
b{
	margin-left:1em;
	color:#600606;
}
p.butt{
	font-family: Times, "Times New Roman", Times, serif;
	width:100%;
	font-size:16px;
	font-weight:bold;
	color:#453F3D;	
	margin-top:1em;
	margin-bottom:-3em;
	margin-left:-1em;
	margin-right:-1em;	
}
/*--------------------*/
a.linklist{
	margin-bottom:-1em;
	margin-top:-1em;
	margin-left: -1em;
	margin-right:-1em;
}

a.rollover {
    color: #453F3D;
    text-decoration: none;
	font-family: Times, "Times New Roman", Times, serif;
	width:100%;
	font-size:14px;
	font-weight:bold;
	margin-left:1em;
	margin-top:0em;
	margin-bottom:0em;
}                         
a.rollover:hover {
	margin-left:1em;
    color: #FF0000;
    font-family: Times, "Times New Roman", Times, serif;
	width:100%;
	font-size:14px;
	font-weight:bold;
	margin-top:0em;
	margin-bottom:0em;
}  
/*-----------------------------*/
input.calc_button{
	font-family: Arial, "Times New Roman", Times, serif;
	background-image:url(logo.jpg);
	background-repeat: repeat-x;		
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#272727;
	width:150px;
	height:30px;
	margin-top:5px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;		
}
/*-----------------------------*/
input.input_field{
	font-family: Arial, "Times New Roman", Times, serif;
	background-image:url(bg.jpg);
	background-repeat: repeat-x;		
	border:double;
	border-color:#97A893;
	border-bottom-width:medium;
	text-align:left;
	vertical-align:text-bottom;
	font-size:16px;
	font-weight:normal;
	color:#272727;
	width:500px;
	height:30px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
/*--------url(menu_link_bg.gif)-----------*/
ul.listt{
	margin-top:-1em;
	margin-left:0em;
	margin-right:0em;
	margin-bottom:-1em;
	list-style-image: url(arrow.png);
}
li.listit{
	font-size:12px;
	margin-top:-0em;
	margin-left:0em;
	margin-right:0em;
	margin-bottom:-1em;
}

