<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdventureWorksManger.Properties.Settings.AdventureWorksLTConnectionString"
            connectionString="Data Source=WINDA1;Initial Catalog=AdventureWorksLT;Persist Security Info=True;User ID=bobrovskiy;Password=valnet13;Encrypt=True;TrustServerCertificate=True;User Instance=False;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>