<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PageSize" value="20" />
  </appSettings>
  <connectionStrings>
    <add name="MediaLibrary" 
         connectionString="Data Source=WINDA1;Initial Catalog=MediaLibrary;Persist Security Info=True;User ID=bobrovskiy;Password=valnet13;Encrypt=True;TrustServerCertificate=True;User Instance=False;Context Connection=False" />
  </connectionStrings>
</configuration>