SELECT [Production].[Product].[ProductID]
      ,[Production].[Product].[Name] 
	  ,[Production].[ProductCategory].[Name]as [Category Name]
      ,[Production].[Product].[ProductNumber]
      ,[Production].[Product].[MakeFlag]
      ,[Production].[Product].[FinishedGoodsFlag]
      ,[Production].[Product].[Color]
      ,[Production].[Product].[SafetyStockLevel]
      ,[Production].[Product].[ReorderPoint]
      ,[Production].[Product].[StandardCost]
      ,[Production].[Product].[ListPrice]
      ,[Production].[Product].[Size]
      ,[Production].[Product].[SizeUnitMeasureCode]
      ,[Production].[Product].[WeightUnitMeasureCode]
      ,[Production].[Product].[Weight]
      ,[Production].[Product].[DaysToManufacture]
      ,[Production].[Product].[ProductLine]
      ,[Production].[Product].[Class]
      ,[Production].[Product].[Style]
      ,[Production].[Product].[ProductSubcategoryID]
      ,[Production].[Product].[ProductModelID]
      ,[Production].[Product].[SellStartDate]
      ,[Production].[Product].[SellEndDate]
      ,[Production].[Product].[DiscontinuedDate]
      ,[Production].[Product].[rowguid]
      ,[Production].[Product].[ModifiedDate]
  FROM [AdventureWorks].[Production].[Product], [AdventureWorks].[Production].[ProductCategory],
		[AdventureWorks].[Production].[ProductSubcategory]
  WHERE [AdventureWorks].[Production].[ProductCategory].[ProductCategoryID]=
			[AdventureWorks].[Production].[ProductSubcategory].[ProductCategoryID]
	AND [AdventureWorks].[Production].[ProductSubcategory].[ProductSubcategoryID]=
			[AdventureWorks].[Production].[Product].[ProductSubcategoryID]
  ORDER BY [Production].[ProductCategory].[Name], [Production].[Product].[Name]