SELECT [Production].[ProductSubcategory].[Name]
	  ,[ProductID]
      ,[Production].[Product].[Name]
      ,[ProductNumber]
      ,[MakeFlag]
      ,[FinishedGoodsFlag]
      ,[Color]
      ,[SafetyStockLevel]
      ,[ReorderPoint]
      ,[StandardCost]
      ,[ListPrice]
      ,[Size]
      ,[SizeUnitMeasureCode]
      ,[WeightUnitMeasureCode]
      ,[Weight]
      ,[DaysToManufacture]
      ,[ProductLine]
      ,[Class]
      ,[Style]
      ,[Production].[Product].[ProductSubcategoryID]
      ,[ProductModelID]
      ,[SellStartDate]
      ,[SellEndDate]
      ,[DiscontinuedDate]
      ,[Production].[Product].[rowguid]
      ,[Production].[Product].[ModifiedDate]
	FROM [AdventureWorks].[Production].[Product],
		 [AdventureWorks].[Production].[ProductSubcategory]
    WHERE [AdventureWorks].[Production].[ProductSubcategory].[ProductSubcategoryID]=
			[AdventureWorks].[Production].[Product].[ProductSubcategoryID]
	AND [AdventureWorks].[Production].[ProductSubcategory].[Name]= 'Wheels'
  ORDER BY [Production].[Product].[StandardCost]