body
{
	font-family:Verdana;
	font-size:14px;
}

p
{
	text-align:justify;
	text-indent:20px;
	}

h1
{
	color:rgb(79,129,189);
}

h2
{
	color:rgb(79,129,189);
}

h3
{
	color:rgb(79,129,189);
}

h4
{
	color:rgb(79,129,189);
}



